<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
	<h1>Estou na Página do Cliente</h1>
	<div class="panel-body">
		<div class="table-responsive">
			<table
				class="table table-sm 
		table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>CPF</th>
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${clientes}">
						<td th:text="${c.id}"></td>
						<td th:text="${c.nome}"></td>
						<td th:text="${c.cpf}"></td>
<td th:text="${#dates.format(c.data, 'dd / MMMM / yyyy')}"></td>
					</tr>

				</tbody>

			</table>

		</div>
	</div>
</body>
</html>